@import url('https://fonts.googleapis.com/css?family=Montserrat:400,600&display=swap');

:root {
    font-size: calc(0.7em + 1vw);
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}
#lista_osoba, #lista_sala, #pocetak, #kraj {
    width: 120px;
}

html {
    height: 100%;
}

body , .container, main {
    height: 100%;
}
body {
    margin: 0;
    font-family: Montserrat, sans-serif;
    background-color: #bdc3c7;
}

.container {
    max-width: 1600px;
    margin: 0 auto;
}

.logo {
    top: 0.1em;
    color: white;
    height: 95%;
    object-fit: contain;
    position: absolute;
    z-index: 100;
    left: 1em;
}
li > a {
    font-weight: 600;
    color: #ecf0f1;
    text-decoration: none;
    text-transform: uppercase;
}

li > a:hover {
    color: #f39c12;
}

.current {
    color: #f39c12;
}

li > a:active {
    color: #e74c3c;
    border-bottom: 3px solid #e74c3c;
}

.menu-toggle {
    position: absolute;
    top: 0;
    right: 0em;
    border: 0;
    background-color: transparent;
    padding: 0;
    margin-right: 0.2em;
    width: 1.1em;
    height: 1.1em;
    font-size: 3.5em;
    text-indent: 3em;
    white-space: nowrap;
    overflow: hidden;
    outline: none;
}

.menu-toggle::after {
    color: #f39c12;
    position: absolute;
    top: 0em;
    left: 0em;
    display: block;
    content: "\2261";
    text-indent: 0;
    z-index: 100;
}

.menu {
    display: none;
    position: absolute;
    right: 0;
    left: 0;
    margin: 0;
}

.menu.otvoren {
    display: block;
}

ul {
    background-color: #34495e;
    margin: -1em 0 0 0;
    padding-left: 0;
    list-style: none;
    padding: 2em 1em;
    text-align: center;
    line-height: 2.2;;
    box-shadow: 0px 5px 5px gray;
}

main {
    background-color: #ecf0f1;
    padding: 1em;
    display: flex;
    flex-direction: column;
    overflow-y: auto;
}

header {
    min-height: 80px;
    background-color: #34495e;
    box-shadow: 0px 5px 5px #ccc;
    position: relative;
    z-index: 10;
}

.dan {
    background-color: #34495e;
    font-weight: 600;
    color: #ecf0f1;
}

td {
    background-color: #bdc3c7;
    border: 1px solid #34495e;
    padding: 0.5em 1em;
    text-align: center;
}

form {
    min-width: 80%;
    margin: 0 auto;
}

label {
    display: inline-block;
    width: 7em;
}

p > button {
    color: #ecf0f1;
    text-transform: uppercase;
    font-weight: 600;
    background-color: #34495e;
    font-size: 0.7em;
    padding: 0.6em 2em;
    border: 0px solid black;
    border-radius: 0.2em;
    box-shadow: 5px 5px 5px #ccc;
}

p > button {
    float: left;
}

p > button:nth-of-type(2n) {
    float: right;
}

table {
    border-collapse: collapse;
    margin: 1em auto;
    flex: 1;
    min-width: 80%;
}

tr {
    display: table-cell;
    border: 1px solid #34495e;
}

table tr > * {
    display: block;
}

th {
    display: none;
    background-color: #34495e;
    font-weight: 600;
    text-transform: uppercase;
    color: #ecf0f1;
    padding: 1em;
}

.hid {
    display: none;
}

.green {
    background-color: #2ecc71;
}

.red {
    background-color: #e74c3c;
}

td {
    height: 50px !important;
}

@media screen and (min-width: 31em) {
    table tr > * {
        display: table-cell;
    }
    td {
        width: auto;
    }

    tr {
        display: table-row;
    }
    .hid {
        display: table-row;
    }

    header {
        padding: 0;
        min-height: 0;
    }

    .current {
        border-bottom: 3px solid #f39c12;
    }
    
    :root {
        font-size: calc(.5em + 1vw);
    }
    
    .menu-toggle {
        display: none;
    }
    
    .menu {
        display: block;
        position: relative;
    }
    li {
        display: inline;
        margin-left: 1em;
    }
    ul {
        margin-top: 0em;
        line-height: 1;
        padding: 1em;
        box-shadow: 0px 5px 5px #ccc;
    }
    
    li {
        font-size: 0.6em;
    }
}

@media screen and (min-width: 50em) {

    :root {
        font-size: calc(1.1em);
    }
    
    li {
        padding-bottom: 1em;
    }
    
    li > a {
        font-size: 1.1em;
    }
}


